body{
	background: #f1f2ef;
}
.container{
	max-width: 850px;	
}
.WSM{
	background-color: #e3dcb2;
	color: #992c5f;
	margin-top:15px;
	font-size: 17px;	
	font-weight: bold;
	padding-left: 5px;
}
.WSM, a{
	color: #992c5f;
	text-decoration: none;
}
.WSM, a:hover{
	background-color: #e3dcb2;
	color: #992c5f;
	text-decoration: none;
}
.cover-images{
	float:left; 
	margin-right: 20px;
	width:200px;
	height:250px;
}
.cover-images-ws{
	width:119px;
	height:194px;
	float: left;
}
.cover-images-ca{
	width:119px;
	height:194px;
	float: left;
}
.mag-text{
	font-size: 15px;
}
.footer{
	color: #600;
	text-align: center;
	margin-top: 15px;
}
@media (max-width: 375px){ 
	   .cover-images{
		width:125px;
		height:150px;
	}
}
/*This is for iPhone 3GS */
 @media (max-width: 320px){ 
	   .cover-images{
		width:120px;
		height:150px;
	}
}
